@model IEnumerable<EventEase_WebApp.Models.Venue>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!-- Error alert and Success alert color indicator -->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venue_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue_ID)
                    <td>
                        @Html.DisplayFor(modelItem => item.VenueName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacity)
                    </td>
                    <td>
                        @if (!String.IsNullOrEmpty(item.ImageUrl))
                        {
                            <img src="@item.ImageUrl" alt="Event Image" width="100"style="object-fit:cover"; border-raduis:8px;  />

                        }
                        else
                        {
                            <span>No Image</span>
                        }
                    </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Venue_ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Venue_ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Venue_ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
